/* Sermon Manager CSS http://www.wpforchurch.com/products/sermon-manager-for-wordpress/ */

.single-wpfc_sermon .wpfc_sermon_image {
    margin: 10px 0 10px;
}

.wpfc_sermon_image_wide {
	max-width: 100%;
	float: left;
}

.wpfc_sermon_image_wide img{
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}

.wpfc_sermon_image {
	max-width: 100%;
	float: left;
}

.wpfc_sermon_image img{
	max-width: 100%;
	height: auto;
	margin: 0 10px 0!important;
}

.wpfc_sermon_wrap {
	padding-bottom: 20px;
	clear:both;
}

#wpfc_sermon_sorting form {
    display: inline;
    margin: 0 10px 10px 0;
}

.single-wpfc_sermon .wpfc_sermon_wrap {
	padding-bottom: 0px;
}

.wpfc_sermon_meta p {margin: 0!important;}

.sermon_date, .service_type {
	text-transform: uppercase;
	font-size: 12px;
}

.sermon_series:before {
    clear: left;
}

#wpfc_sermon_tax_desc:after {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: right;
}

/* controls padding around video embeds */
.wpfc_sermon-video {
	margin: 10px 0 10px;
	max-width: 100%;
	clear:both;
}
.wpfc_sermon-video iframe, .wpfc_sermon-video embed {
	max-width: 100%;
}
.mejs-container, #wpfc_sermon iframe, #wpfc_sermon object, #wpfc_sermon embed {max-width: 100%;}

.wpfc_sermon-notes {
	margin: 10px 0 10px;
}

/* controls padding around audio player */
.wpfc_sermon-audio {
	margin: 10px 0 10px;
	max-width: 100%;
	clear:both;
}

#wpfc_sermon_sorting {
	padding: 10px 0 10px;
}

/* Some clearfix code from HTML5 Boilerplate */
.cf:before, .cf:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

/* Recent Sermon Widget */
.widget_recent_sermons ul {
	margin-left: 0px!important;
}
.widget_recent_sermons li {
	padding-left: 18px!important;
	background: url(icons/mic-icon.png) no-repeat left;
	list-style: none!important;
	margin: 0;
}
.widget_recent_sermons span {
	font-size: 0.75em;
	font-color: #444444;
	margin: 0;
}

#sermon-navigation {padding-bottom: 15px;}

/* WP Pagenavi Styles */
.wp-pagenavi {
font-size:12px;
display:block;
clear:both;
padding:20px 0px 20px 10px;
}
.wp-pagenavi a,
.wp-pagenavi a:link,
.wp-pagenavi a:visited,
.wp-pagenavi a:active {
    padding: 4px 8px !important;
    margin: 3px !important;
    text-decoration: none !important;
    border: 1px solid #C8C8C2 !important;
    background: #FCFCFC !important;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    color: #999 !important;
}

.wp-pagenavi a:hover {
    border: 1px solid #a7a7a3 !important;
    color: #444 !important;
}

.wp-pagenavi span.pages {
    padding: 4px 8px !important;
    margin: 3px !important;
    font-style: italic !important;
    color: #999 !important;
}

.wp-pagenavi span.current {
    padding: 4px 8px !important;
    margin: 3px !important;
    text-decoration: none !important;
    border: 1px solid #a7a7a3 !important;
    background: #FCFCFC !important;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    font-weight: bold !important;
    color: #444 !important;
}

.wp-pagenavi span.extend {
    padding: 4px 8px !important;
    margin: 3px !important;
    text-decoration: none !important;
    border: 1px solid #C8C8C2 !important;
    background: #FCFCFC !important;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
}

/* Verse Popup Styles */
.bibly_popup_outer{font-size:1.2em;}
.bibly_popup_footer {display:none;}

/* Styles for additional files */
#wpfc-attachments a[href$='.ppt'], #wpfc-attachments a[href$='.pptx'] {
	background:url(icons/ppt.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
#wpfc-attachments a[href$='.doc'], #wpfc-attachments a[href$='.rtf'], #wpfc-attachments a[href$='.docx']  {
	background:url(icons/word.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
#wpfc-attachments a[href$='.pdf'], a.sermon-notes {
	background:url(icons/pdf.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
#wpfc-attachments a[href$='.mp3'] {
	background:url(icons/audio.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
#wpfc-attachments a[href$='.mp4'] {
	background:url(icons/video.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}

/* Image styles for Sermon Series, Speakers */
.sermon-images-the-terms {
	margin:10px 0;
	padding:0;
	zoom:1;
}
.sermon-images-the-terms:before,
.sermon-images-the-terms:after {
	content:"\0020";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.sermon-images-the-terms li,
.sermon-images-the-terms a,
.sermon-images-the-terms img {
	float:left;
	margin:0;
	padding:0;
}
.sermon-images-the-terms li {
	list-style-type:none;
	margin:0 10px 10px 0;
}

ul#wpfc_images_grid {
	margin:0!important;
}

ul#wpfc_images_grid:after {
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: right;
}

li.wpfc_grid_image {
	list-style-type:none!important;
	margin:0 10px 10px 0!important;
	width: 47%;
	float: left;
}

li.wpfc_grid_image img{
	max-width: 100%;
	height: auto;
}

h3.wpfc_grid_title a {
	text-decoration: none;
}